<section class="addNew">
  <h1>ToDo App</h1>
  <form (ngSubmit)="addTodo()">
    <input class="todoInput" type="text" placeholder="Add new todo" [(ngModel)]="newTodoText" name="newTodo" required>
    <input class="todoInput" type="time" placeholder="HH : MM" [(ngModel)]="newTodoTime" name="newTodoTime" required>
    <input class="btn" type="submit" value="add">
  </form>
</section>

<section class="todos">
  <div [ngClass]=" todo.completeBy === 'Delayed' ? 'delayed' : '' " class="todo-items" *ngFor="let todo of todos;let i = index" [ngClass]="{'completed': todo.completed}">
    <p ></p>
    <h5 *ngIf="todo.completeBy">{{todo.completeBy}}</h5>
    <h3 *ngIf="!todo.editing">{{todo.text}}</h3>

    <form (ngSubmit)="saveEdit(todo)">
      <input class="todoInput editInput" *ngIf="todo.editing" type="text" [value]="todo.text" [(ngModel)]="todo.text" name="todo.text">
      <input type="submit" *ngIf="todo.editing" class="btn" (click)="saveEdit(todo)" value="Save"/>
    </form>

    <button *ngIf="!todo.completed && !todo.editing" (click)="edit(todo)" class="btn edit-btn">Edit</button>
    <button *ngIf="!todo.completed && !todo.editing" (click)="completed(todo)" class="btn comp-btn">Mark as Completed</button>
    <button *ngIf="todo.completed" (click)="markAsIncomplete(todo)" class="btn incomp-btn">Mark as Incomplete</button>
    <button *ngIf="!todo.editing" (click)="delete(i)" class="btn del-btn">Delete</button>
  </div>
</section>